body {
	background-image: url("/images/shop-1.jpg");

}

.main {
	position: relative;
	top: 50px;
	/*left: 470px;*/
	width: 350px;
	height: 450px;
	background: #eee;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 5px 30px 50px black;
}

#msg {
	color: white;
	font-weight: bolder;
	font-family: 'Times New Roman,Times, serif';
}

.errorMsg {
	position: relative;
	left: 20px;
	top: 15px;
	bottom: 10px;
	height: 0px;
}

.loginMsg {
	position: relative;
	left: 17px;
	top: 15px;
	bottom: 10px;
	height: 0px;
	font-weight: bolder;
}


label {
	color: rgb(43, 83, 194);
	font-size: 35px;
	justify-content: center;
	display: flex;
	/*margin: 60px;*/
	position: relative;
	top: 20px;
	left: 15px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
	margin-bottom: 10px;
}

#forget{
	width: 108%;
	height: 45px;
	background: white;
	position: relative;
	top: 50px;
	/*justify-content: center;*/
	display: flex;
	margin: 18px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 50px;
}

input {
	width: 115%;
	height: 45px;
	background: white;
	position: relative;
	top: 50px;
	/*justify-content: center;*/
	display: flex;
	margin: 18px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 50px;
}

button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: white;
	background: rgb(43, 83, 194);
	font-size: 20px;
	font-weight: bold;
	margin-top: 70px;
	margin-left: 80px;
	outline: none;
	border: none;
	border-radius: 10px;
	transition: .3s ease-in;
	cursor: pointer;
	box-shadow: 5px 20px 40px black;
}

button:hover {
	/*background: rgb(20, 57, 105);*/
	background: lightsalmon;
	color: darkblue;
}


a {
	text-decoration: none;
	font-weight: bold;
}

#p2 {
	/* margin-top: 50px;
    margin-left: 30px; */
	position: relative;
	top: 30px;
	left: 30px;
}

#p1 {
	position: relative;
	top: 20px;
	left: 65px;
}

#p3 {
	position: relative;
	top: 30px;
	left: 30px;
}