     body {
     	background-image: url("/images/shop4.jpg");

     }
     .parent{
		 
     	width: 350px;
     	height: 600px;
     	/*background: rgb(112, 128, 224);*/
     	background: #eee;
     	/*overflow: hidden;*/
     	border-radius: 20px;
     	box-shadow: 5px 30px 50px black;
     	position: relative;
     	top: 10px;
	 }

     .main{

     	width: 350px;
     	height: 760px;
     	/*background: rgb(112, 128, 224);*/
     	background: #eee;
     	/*overflow: hidden;*/
     	border-radius: 20px;
     	box-shadow: 5px 30px 50px black;
     	position: relative;
     	top: 10px;
     }

     .signup {
     	position: relative;
     	width: 100%;
     	height: 100%;
     }

     label {
     	color: cornflowerblue;
     	font-size: 35px;
     	justify-content: center;
     	display: flex;
     	/*margin: 60px;*/
     	position: relative;
     	left: 5px;
     	font-weight: bold;
     	cursor: pointer;
     	transition: .5s ease-in-out;
     	margin-bottom: 10px;
     }

     input {
     	width: 92%;
     	height: 45px;
     	background: white;
     	/*justify-content: center;*/
     	position: relative;
     	/*top: 5px;*/
     	display: flex;
     	margin: 18px auto;
     	padding: 10px;
     	border: none;
     	outline: none;
     	border-radius: 50px;
     }

     button {
     	width: 60%;
     	height: 40px;
     	position: relative;
     	top: 10px;
     	margin: 2px auto;
     	justify-content: center;
     	display: block;
     	color: white;
     	background: rgb(43, 83, 194);
     	font-size: 20px;
     	font-weight: bold;
     	outline: none;
     	border: none;
     	border-radius: 10px;
     	transition: .3s ease-in;
     	cursor: pointer;
     	box-shadow: 5px 20px 40px black;
     }

     button:hover {
     	color: black;
     	background: lightgreen;
     }


     a {
     	text-decoration: none;
     	color: blue;
     	font-family: 'Times New Roman', Times, serif;
     	font-weight: bold;
     	font-size: x-large;
     }

     .pswd {
     	color: black;
     	text-align: left;
     	font-size: medium;
     	font-weight: bold;
     	position: relative;
     	top: -5px;
     	left: -25px;
     	height: 0px;
     }

     #p1 {
     	text-align: center;
     	color: green;
     	font-weight: bold;
     }
     #p2{
		 position: relative;
		 top: 20px;
		 text-align: center;
     	color: green;
     	font-weight: bold;
	 }
