<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Us - You and I</title>
	<th:block th:insert="bootstrap.html"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/css/profileImage.css}">

</head>

<body>

	<div th:replace="fragments/customerNavbar"></div>
	<div class="container justify-content">
		<h1 class="text-center">About Us</h1>

		<h2>Our Mission</h2>
		<p>At "You and I," our mission is to foster meaningful connections and promote personal growth through engaging
			content and interactive experiences. We believe that by bringing people together, we can create a positive
			impact on individuals and communities alike.</p>

		<h2>Our Vision</h2>
		<p>We envision a world where everyone feels connected, supported, and empowered to reach their full potential.
			Through our platform, we aim to inspire, educate, and empower individuals to build meaningful relationships
			and lead fulfilling lives.</p>

		<h2>What We Offer</h2>
		<ul>
			<li><strong>Engaging Content:</strong> Explore a diverse range of articles, videos, and resources designed
				to spark inspiration and ignite personal growth.</li>
			<li><strong>Community Interaction:</strong> Connect with like-minded individuals through our interactive
				forums, events, and networking opportunities.</li>
			<li><strong>Expert Guidance:</strong> Access expert advice, tips, and tools to navigate life's challenges
				and pursue your passions with confidence.</li>
		</ul>

		<h2>Get Involved</h2>
		<p>Join us on our journey to make a difference. Whether you're seeking inspiration, looking to connect with
			others, or eager to share your own insights, "You and I" welcomes you with open arms.</p>

		<p>Together, let's create a community where every voice is heard, every story is valued, and every connection is
			meaningful.</p>

		<h2>Contact Us</h2>
		<p>If you have any questions, suggestions, or feedback, please don't hesitate to <a
				href="mailto:sukamanchigopichand10@gmail.com">contact us</a>. We'd love to hear from you!</p>
	</div>
	
	<div th:replace="fragments/footer"></div>
	<script src="/js/mdb.umd.min.js"></script>
	<script src="/js/all.min.js"></script>

</body>

</html>