<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Us - You and I</title>
	<th:block th:insert="bootstrap.html"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/css/profileImage.css}">

</head>

<body>
	<div th:replace="fragments/customerNavbar"></div>
	<div class="container justify-content">

		<div th:replace="fragments/aboutUs"></div>

		<div th:replace="fragments/footer"></div>
		
		<script src="/js/mdb.umd.min.js"></script>
		<script src="/js/all.min.js"></script>

</body>

</html>