<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
    
    <th:block th:insert="bootstrap.html"></th:block>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    
</head>

<body>
    <div class="main">
         <div class="login">
            <form action="cust_loginwel" method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email"  placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password"  required="">
                <button>Login</button>
                <p id="p2">Don't have account? <a href="customer">Create an Account</a></p>
                <p id="p3"><a href="/custForgetPassword">forget password?</a></p>
            </form>
        </div>

    </div>
</body>
</html>