<!DOCTYPE html>
<html>

<head>
	<title>Foget password</title>
	
	<th:block th:insert="bootstrap.html"></th:block>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	
</head>

<body>
	<div class="main">
        <div class="login">
			<label for="chk" aria-hidden="true" style="text-align: center; color: darkgoldenrod;">Forget Password</label>
            <form action="custChangePass" method="post">
                <input type="email" name="email" id="" placeholder="Enter email address" required="">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
</body>

</html>