<!DOCTYPE html>
<html>

<head>
	<title>Foget password</title>

	<th:block th:insert="bootstrap"></th:block>

	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>

<body>
	<div class="main container d-flex">
		<div class="login">
			<label class="text-center" style="color: darkgoldenrod; margin-left: 10px;">Forget Password</label>
			
			<div class="errorMsg" th:if="${not #strings.isEmpty(invalidEmail)}">
				<h1 class="text-center text-danger fs-5" th:text="${invalidEmail}"></h1>
			</div>
			
			<form action="custChangePass" method="post">
				<input type="email" name="email" id="" placeholder="Enter email address" required="">
				<button type="submit">Submit</button>
				
				<div class="errorMsg" th:if="${not #strings.isEmpty(password)}">
					<h3 class="text-center">Your password is</h3>
					<h1 class="text-center text-success fs-5" th:text="${password}"></h1>
				</div>
				
			</form>
			
		</div>
	</div>

</body>

</html>