<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Items List</title>

	<th:block th:insert="bootstrap.html"></th:block>

	<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profileImage.css}">

	<style>
		body {
			background-image: url("/images/space1.jpg");
		}

		.table {
			border-collapse: collapse;
			border-radius: 30px;
			overflow: hidden;
		}
	</style>

</head>

<body>

	<div th:replace="fragments/customerSearchNavbar"></div>
	<h1 style="text-align: center; font-weight: bold; color: white;">ITMES LIST</h1>
	<div class="container my-5 col-md-14 table-responsive rounded">
		<!--overflow-x: auto;-->
		<table class="table table-bordered border-dark table-striped table-hover overflow-x:auto; table-sm">
			<thead class="table-success">
				<tr>
					<!--<th scope="col" class="edit">Id</th>-->
					<th scope="col" class="edit">Product Name</th>
					<th scope="col" class="edit">Price</th>
					<th scope="col" class="edit">Quant</th>
					<th scope="col" class="edit">ShopName</th>
					<!--<th scope="col" class="edit">Location</th>-->
					<th scope="col" class="edit">Map Link</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="i :${items}">
					<!--<td th:text="${i.id}"></td>-->
					<td class="tdname" th:text="${i.name}"></td>
					<td th:text="${i.price}"></td>
					<td th:text="${i.quantity}"></td>
					<td th:text="${i.vendor.shopName}"></td>

					<td class="tdname">
						<iframe th:src="${i.vendor.maps}" width="200" height="40" frameborder="0"
							style="border:0;"></iframe>
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>

	<div th:replace="fragments/footer"></div>

	<script src="/js/mdb.umd.min.js"></script>
	<script src="/js/all.min.js"></script>


</body>

</html>