<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<th:block th:insert="bootstrap"></th:block>

	<link rel="stylesheet" type="text/css" th:href="@{/css/profileImage.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
	
	<title>Add item</title>

	<style>
		body {
			background-image: url("/images/slide6.jpg");
		}

		input {
			font-family: Arial, sans-serif;
			font-size: 24px;
			color: #333;
			font-weight: bold;
			height: 50px;
			margin-top: 35px;
		}

		h1 {
			font-weight: bold;
			color: whitesmoke;
		}

		.form-control {
			font-size: large;
			font-weight: bold;
		}
	</style>
</head>

<body>

	<div th:replace="fragments/vendornavbar"></div>

	<div class="container my-5 p-5">
		
		<h1 class="text-center">ADD YOUR ITEM</h1>
		
		<div th:if="${not #strings.isEmpty(addSuccess)}">
			<h4 class="text-center text-warning fs-10 fw-bold " th:text="${addSuccess}"></h4>
		</div>
		
		<form class="col-md-4 offset-md-4" th:action="@{/saveItem}" method="post">
			<div class="mb-3">
				 <input type="text" class="form-control" name="name" placeholder="Item Name" required>
			</div>

			<div class="mb-3">
				 <input type="number" class="form-control" name="price" placeholder="Price/1 q'ty" required>
			</div>
			<div class="mb-3">
				 <input type="text" class="form-control" name="quantity" placeholder="Avl Q'ty" required>
			</div>

			<input type="hidden" name="v_id" th:value="${vendor}" />

			<center><button type="submit" class="btn btn-primary text-light">Submit</button></center>
		</form>
	</div>


	<div th:replace="fragments/footer"></div>

	<script src="/js/mdb.umd.min.js"></script>
	<script src="/js/all.min.js"></script>

</body>

</html>