<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/css/mdb.min.css" rel="stylesheet">

	<!-- Online links -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

	<title>Add item</title>

	<style>
		body {
			background-image: url("/images/slide6.jpg");
		}

		input {
			font-family: Arial, sans-serif;
			/* Choose a thick font-family */
			font-size: 24px;
			/* Adjust font size as needed */
			color: #333;
			/* Dark color */
			font-weight: bold;
			/* Ensure thick font */
			height: 50px;
			margin-top: 35px;
		}

		h1 {
			font-weight: bold;
			color: whitesmoke;
		}

		.form-control {
			font-size: large;
			font-weight: bold;
		}
	</style>
</head>

<body>

	<div th:replace="@{fragments/vendornavbar}"></div>
	<div class="container my-5 p-5">
		<!--style="border:1px solid black;"-->
		<h1 class="text-center">ADD YOUR ITEM</h1>
		<h4 class="text-center" style="font-weight: bold; color: yellow; position: relative;
	top: 20px;">
			Item successfully added to the list
		</h4>
		<form class="col-md-4 offset-md-4" th:action="@{/saveItem}" method="post">
			<div class="mb-3">
				<input type="text" class="form-control" name="name" placeholder="Item Name" required>
			</div>

			<div class="mb-3">
				<input type="number" class="form-control" name="price" placeholder="Price" required>
			</div>
			<div class="mb-3">
				<!--<label for="price" class="form-label">Quantity </label>-->
				<input type="text" class="form-control" name="quantity" placeholder="Quantity" required>
			</div>

			<input type="hidden" name="v_id" th:value="${vendor}" />

			<center><button type="submit" class="btn btn-primary">Submit</button></center>
		</form>
	</div>


	<div th:replace="@{fragments/footer}"></div>

	<script src="/js/mdb.umd.min.js"></script>
	<script src="/js/all.min.js"></script>

</body>

</html>